SnusProject/ClientApp/Connected Services/RobotArmServiceReference/RobotArmService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SnusProject.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SnusProject.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="OperationResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Operation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OperationResult" nillable="true" type="tns:OperationResult" />
  <xs:complexType name="RobotArmState">
    <xs:sequence>
      <xs:element minOccurs="0" name="Angle" type="xs:int" />
      <xs:element minOccurs="0" name="X" type="xs:int" />
      <xs:element minOccurs="0" name="Y" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RobotArmState" nillable="true" type="tns:RobotArmState" />
</xs:schema>